{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">

                        <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{movie.img.url}}" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">{{movie.name}}</h5>

                        </div>


                        </div>



</div>
                        <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">{{movie.name}}</h5>
                         <p class="card-text">{{movie.decs}}</p>
                            <p class="card-text">Year:{{movie.year}}</p>

                         <a href="{% url 'movieapp:update' movie.id %}" class="btn btn-warning">Update</a>
                            <a href="{% url 'movieapp:delete' movie.id %}" class="btn btn-danger">Delete</a>

                        </div>




        </div>
    </div>
</div>




{% endblock %}